/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* HTML element (SMACSS base) rules */

@import "normalize.css";
/* Layout rules */

@import "layouts/responsive.css";
/* Component (SMACSS module) rules */

@import "components/misc.css";
/* Optionally, add your own components here. */

@import "grid.css";
@import "print.css";
@import "fonts/font.css";
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

html,
.leaflet-container {
	font-family: '33535gillsansmt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	font-size: 100%;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: #555
}
/*/ ===  TYPOGRAPHY === /*/

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1.3;
	margin: 1em 0
}

h1.page__title {
	margin: 0.5em 0 0.75em 0
}

h2 {
	font-size: 1.66em;
	margin-bottom: 0.75em
}

h3 {
	font-size: 1.45em;
	margin-bottom: 0.5em
}

h4 {
	font-size: 1.3em;
	margin-bottom: 0.25em
}

h5 {
	font-weight: bold;
	font-size: 1.15em;
	margin: 1em 0 0 0
}

h6 {
	font-weight: bold;
	font-size: 1em;
	margin: 1em 0 0 0
}

hr {
	border: none;
	border-bottom: 1px solid #ccc;
	color: #ccc;
	background: #ccc;
	height: 1px;
	clear: both;
	float: none;
	padding: 0;
	margin: 1em 0
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
blockquote,
li:last-child:not(.tabs-primary__tab) {
	margin: 0 0 1em 0
}

li,
ul,
ol {
	font-size: 1em;
	margin: 0 0 0.25em 0
}

blockquote {
	margin: 0 0 1em 0;
	background: #f7f7f7;
	padding: 0.5em 1em 1em 1em
}

blockquote p {
	margin-bottom: 0.5em
}

blockquote ul,
blockquote ol {
	margin-bottom: 0
}

blockquote p:last-child {
	margin-bottom: 0
}

h2 strong,
h3 strong,
h4 strong {
	font-weight: normal;
}
/*/  === INLINE IMAGES ===  /*/

img.imgtoright,
img.imgtoright-quarter {
	float: right;
	margin: 0 0 15px 2%;
	clear: right;
	max-width: 48%;
	width: 480px
}

img.imgtoleft,
img.imgtoleft-quarter {
	float: left;
	margin: 0 2% 15px 0;
	clear: left;
	max-width: 48%;
	width: 480px
}

img.imgtomiddle {
	float: none;
	margin: 15px auto;
	clear: both;
	display: block
}

img.imgtoleft-quarter,
img.imgtoright-quarter {
	width: 240px;
	max-width: 23%;
}

img.img-thumbnail {
	max-width: 23%;
	float: left;
	margin: 0 0 2% 15px;
}

@media all and (max-width: 768px) {
	img.imgtoright,
	img.imgtoleft {
		max-width: 48%;
	}
}

@media all and (max-width: 480px) {
	img.imgtoright,
	img.imgtoleft {
		float: none;
		margin: 15px auto;
		clear: both;
		display: block;
		max-width: 100%;
	}
	img.imgtoleft-quarter,
	img.imgtoright-quarter {
		max-width: 48%;
	}
}

.view-electric-bike-map .views-field {
	margin-bottom: 0.25em
}
/*/  === HEADER ===  /*/

#header {
	padding-top: 15px
}

#header ul.menu,
#header .menu li {
	margin: 0;
	padding: 0;
	list-style: none
}

#header .menu li {
	display: inline-block
}

#header .branding {
	float: left;
	clear: left;
}

#header .block {
	margin: 0
}
/*/  --- Logo ---  /*/

#block-menu-menu-social-links,
#header #block-search-form,
#header #block-system-user-menu {
	float: right;
	clear: right
}

#header .header-search .block {
	margin-bottom: 15px
}

#header .header-search .menu a {
	margin-left: 0.75em
}

#header .header-search .menu a:link,
#header .header-search .menu a:visited {
	color: #999;
	text-decoration: none;
}

#header .header-search .menu a:hover,
#header .header-search .menu a:focus {
	color: #666;
	text-decoration: underline
}
/*/  --- Logo ---  /*/

#header .header__logo,
#header .header__logo-image {
	width: 208px;
	height: 104px;
}
/*/  --- User menu ---  /*/
/*/  --- Search ---  /*/

.header-search {
	float: right;
	clear: right;
}

#block-search-form * {
	margin: 0;
	padding: 0
}

#block-search-form input {
	font-size: 1em;
	border: 2px solid #999;
	padding: 4px;
	margin: 0;
	display: inline-block
}

#block-search-form input:focus,
#block-search-form input:hover {
	border-color: #666;
}

#block-search-form input#edit-search-block-form--2 {
	width: 12em
}

#block-search-form input#edit-search-block-form--2:focus {
	color: #666;
	background: #ff9;
}

#block-search-form input#edit-submit {
	color: #fff;
	background: #999;
	margin-left: -0.5em;
	-moz-border-radius-topright: 0.25em;
	-webkit-border-top-right-radius: 0.25em;
	border-top-right-radius: 0.25em;
	-moz-border-radius-bottomright: 0.25em;
	-webkit-border-bottom-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

#block-search-form input#edit-submit:hover,
#block-search-form input#edit-submit:focus {
	background: #666
}

#block-search-form .form-item {
	margin: 0;
}
/* --- IE8 fixes --- */

.lt-ie9 #block-search-form {
	width: 250px;
	text-align: right
}
/*/  --- Social links ---  /*/

#block-menu-menu-social-links .menu a {
	font-size: 0;
	margin-left: 12px
}

#block-menu-menu-social-links .menu a:before {
	font-size: 32px;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#block-menu-menu-social-links .menu a.facebook:before {
	content: "\f082";
}

#block-menu-menu-social-links .menu a.twitter:before {
	content: "\f081";
}

#block-menu-menu-social-links .menu a.rss:before {
	content: "\f143";
}
/*/  === NAVIGATION ===  /*/

ul.nice-menu li {
	display: inline-block
}
/* ---  See nice_menus_defaut.css  --- */

#navigation a.enjoying {
	color: #f58345!important
}

#navigation a.looking {
	color: #aa1054!important
}

#navigation a.understanding {
	color: #839c85!important
}
/* ---  Fixed >768 menu  --- */

a:link,
a:visited {
	color: #aa1054;
	text-decoration: none
}

a:hover {
	color: #000;
	text-decoration: underline
}

#navigation {
	margin: 0;
	padding-bottom: 2em;
}

#navigation .menu a:hover {
	text-decoration: none
}

#navigation .menu a:link,
#navigation .menu a:visited {
	text-decoration: none
}

#navigation a.enjoying:link {
	color: #f58345!important
}

#navigation a.celebrating:link {
	color: #cfaa2a!important
}

#navigation a.looking:link {
	color: #aa1054!important
}

#navigation a.understanding:link {
	color: #839c85!important
}

#navigation a.enjoying:hover,
#navigation a.celebrating:hover,
#navigation a.looking:hover,
#navigation a.understanding:hover {
	color: #000!important;
	text-decoration: none
}
/*/  --- breadcrumb ---  /*/

.breadcrumb {
	margin: 1em 0;
	clear: both
}

.breadcrumb li,
.breadcrumb a:link,
.breadcrumb a:visited {
	color: #999;
	text-decoration: none
}

.breadcrumb a:hover,
.breadcrumb a:focus {
	color: #666;
	text-decoration: underline
}

.breadcrumb li:first-child a {
	font-size: 0
}

.breadcrumb li:first-child a:after {
	content: "\f015";
	font-size: 16px;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 0.25em
}



/*  -- Mobile nav --- */

.region-bottom , 
#menu-toggler ,
label[for=menu-toggler]  {
display: none;
}
@media all and (max-width: 768px) {
    #navigation {
        padding-bottom: 0;
    }
    
    .region-bottom,
    label[for=menu-toggler] {
        display: block;
    }
    
    #block-nice-menus-1 {
        display: none
    }
    
    .block.mobile {
        color: #666;
        margin: 0;
        text-align: left;
    }
    
    .block.mobile .block__title {
        font-size: 1.15em;
        margin: 0;
        padding: 0;
    }
    
    .block.mobile .block__title a {
        padding: 0.15em 3%;
        background: #ccc;
        color: #ccc;
        border-bottom: 3px solid #ededed;
  }
    
    

   .block.mobile .block__title a:after {

       color: #f5f5f5;
       display: inline-block;
       font-family: FontAwesome;
       font-style: normal;
       font-weight: normal;
       font-size: 1em;
       color: #666;
       line-height: 1;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
       content: "\f015";
       padding-left: 0.3em;
       float: none;
   }
    
    
body:not(.front) .block.mobile .block__title a:active:after {
    color: #fff;
}
    
    
    
    
    .block.mobile .menu,
    .block.mobile .menu li {
        margin: 0;
        padding: 0;
        display: block!important;
        float: none!important;
        width: 100%!important;
        text-align: left;
    }
    
    .block.mobile .menu a {
        font-size: 1.15em;
        padding: 0.15em 3%;
        background: #ccc;
    }
    
    .block.mobile .block__title a:link,
    .block.mobile .block__title a:visited,
    .block.mobile .menu a:link,
    .block.mobile .menu a:visited {
        color: #666!important;
        display: block
    }
    
    .block.mobile .block__title a:hover,
    .block.mobile .menu a:hover {
        color: #000!important;
        background: #a0a0a0;
        text-decoration: none!important;
    }
    
    .block.mobile .block__title a:active,
    .block.mobile .menu a:active {
        color: #fff!important;
        background: #000
    }
    
    .block.mobile .menu a.active  ,
      .front .block.mobile .block__title a  {
        color: #000!important;
        background: #bababa;
        cursor: default
    }
    
    .block.mobile ul li:not(.is-leaf)>a:after {
        color: #f5f5f5;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        color: #666;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0da";
        padding-left: 0.3em;
        float: none;
    }
    
    .block.mobile ul li.is-active-trail:not(.is-leaf)>a:after {
        content: "\f0d7";
    }
    
    .block.mobile ul li:not(.is-leaf)>a:hover:after,
    .block.mobile ul li:not(.is-leaf)>a.active:after,
    .block.mobile ul li:not(.is-leaf)>a.active:hover:after {
        color: #000;
    }
    
    .block.mobile ul li:not(.is-leaf)>a:active:after {
        color: #fff;
    }
    
    .block.mobile>.menu-block-wrapper>.menu>li {
        border-bottom: 3px solid #ededed;
    }
    .block.mobile a {
        font-size: 1em;
        padding: 0.15em 3%!important;
    }
    
    .block.mobile .menu .menu a {
        font-size: 0.9em;
        padding-left: 6%!important;
    }
    
    .block.mobile .menu .menu .menu a {
        font-size: 0.9em;
        padding-left: 9%!important;
    }
    
    .block.mobile .menu .menu .menu .menu a {
        font-size: 0.9em;
        padding-left: 12%!important;
    }
    
    .block.mobile .menu .menu .menu .menu .menu a {
        font-size: 0.9em;
        padding-left: 15%!important;
    }
    
    label[for=menu-toggler] {
        font-size: 1.5em;
        font-weight: normal;
        cursor: pointer;
        padding: 0px 0px 0 0px;
        margin: 0 0 0 0;
        display: block;
        clear: both;
        border-bottom: 3px solid #fff;
        background: #e8e8e8;
        width: 100%;
        z-index: 9999999;
    }
    
    label[for=menu-toggler] span {
        padding-left: 4px
    }
    
    label[for=menu-toggler] span:before {
        color: #999;
        font-size: 1em;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0c9";
        padding-right: 4px;
        padding-left: 4px
    }
    
    html {
        position: relative;
    }
    
    .region-bottom {
        position: absolute;
        z-index: 100;
        margin: 0;
        top: 0;
        left: -40%;
        width: 40%;
        bottom: 0;
        transition: left 0.3s ease;
        background: #ccc;
        display: block;
    }
    
    label[for=menu-toggler] span {
        transition: margin-left 0.3s ease;
    }
    
    .overlay label[for=menu-toggler] span {
        margin-left: 40%;
        transition: margin-left 0.3s ease;
    }
    
    .overlay label[for=menu-toggler] span:before {
        content: "\f00d";
    }
    
    .overlay .region-bottom {
        left: 0;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #a3a3a3;
    }
}@media all and (max-width: 550px) {
    .region-bottom {
        left: -50%;
        width: 50%;
    }
    .overlay label[for=menu-toggler] span {
        margin-left: 50%;
    }
}


/*/  === FOOTER ===  /*/
/*/  --- Footer site map ---  /*/

#block-menu-block-2,
#block-footer-sitemap-footer-sitemap,
#block-footer-sitemap-footer-sitemap * {
	background: #666
}

#block-menu-block-2,
#block-footer-sitemap-footer-sitemap {
	clear: both;
	padding: 15px
}

#block-menu-block-2 a:link,
#block-menu-block-2 a:visited,
#block-footer-sitemap-footer-sitemap a:link,
#block-footer-sitemap-footer-sitemap a:visited {
	color: #fff
}

#block-menu-block-2 a:hover,
#block-menu-block-2 a:focus,
#block-footer-sitemap-footer-sitemap a:hover,
#block-footer-sitemap-footer-sitemap a:focus {
	text-decoration: underline
}

#block-menu-block-2.block h2.block-title,
#block-menu-block-2 ul,
#block-menu-block-2 li,
#block-menu-block-2 a,
#footer-sitemap,
#block-footer-sitemap-footer-sitemap.block h2.block-title,
#block-footer-sitemap-footer-sitemap ul,
#block-footer-sitemap-footer-sitemap li,
#block-footer-sitemap-footer-sitemap a {
	padding: 0;
	margin: 0;
	list-style: none;
	background: transparent
}

#block-footer-sitemap-footer-sitemap ul.footer_links_main-menu {
	width: 100%;
}

#block-menu-block-2 .menu li,
#block-footer-sitemap-footer-sitemap li.depth-1 {
	font-size: 1.2em;
	line-height: 1.2;
	width: 31.5%;
	padding-right: 1.5%
}

#block-footer-sitemap-footer-sitemap li.depth-1 li {
	font-size: 1.1em;
	line-height: 1.1;
	width: 100%;
}

#block-footer-sitemap-footer-sitemap li.depth-1 li li {
	font-size: 0.9em;
	display: none;
	padding-left: 6px
}

#block-footer-sitemap-footer-sitemap li.depth-1 li li li {
	display: none;
	padding-left: 6px
}
/*/  --- Footer site map (2) ---  /*/

.region-footer h2.block-title {
	color: #fff;
	margin-bottom: 1em;
}

#block-menu-block-2 {
	overflow: auto
}

#block-menu-block-2 * {}

#block-menu-block-2 .menu li {
	font-size: 1.3em;
	line-height: 1.15;
	width: 31.5%;
	padding-top: 0.25em;
	float: left;
}

#block-menu-block-2 .menu .menu li {
	font-size: 0.8em;
	width: 100%;
	padding-top: 0.25em;
	float: none
}

#block-menu-block-2.block h2.block-title,
#block-menu-block-2 ul,
#block-menu-block-2 li,
#block-menu-block-2 a {
	padding: 0;
	margin: 0;
	list-style: none;
	background: transparent
}
/*/  --------------- RESPONSIVE HEADER ---------------  /*/

@media all and (max-width: 960px) {}

@media all and (max-width: 768px) {
	#block-search-form input#edit-search-block-form--2 {
		width: 10em
	}
}

@media all and (max-width: 550px) {
	#header .branding,
	.header-search {
		float: none;
		clear: BOTH;
		margin: 1em AUTO;
		DISPLAY: TABLE
	}
	#header .branding {
		margin-top:0;
	}
	#header #block-menu-menu-social-links,
	#header #block-search-form,
	#header #block-system-user-menu {
		float: none;
		clear: BOTH;
		margin: 0.25em AUTO;
		DISPLAY: TABLE
	}
    #header #block-search-form {margin: 0.75em AUTO;}
    
    #header #block-menu-menu-social-links .menu li {margin: 0 0.5em;}
    
    #block-menu-menu-social-links .menu a::before {font-size:40px}
    
	#header .header__logo-image {
		width: 15em;
		height: inherit
	}
	#block-search-form input#edit-search-block-form--2 {
		width: 15em
	}
	#block-search-form input {
		padding: 8px;
	}
	#block-footer-sitemap-footer-sitemap li.depth-1,
	#block-menu-block-2 .menu li {
		width: 100%;
		padding-top: 0.5em;
	}
}








    





/*/  === BLOCKS ===  /*/

.block h2.block-title {
	color: #fff;
	font-size: 1.25em;
	line-height: 1.2em;
	padding: 8px;
	background: #afafaf
}

.block.enjoying h2.block-title {
	background: #f58345
}

.block.looking h2.block-title {
	background: #aa1054
}

.block.understanding h2.block-title {
	background: #839c85
}

.block.clear-left {
	clear: left
}
/*/  --- External links/Downloads Icon ---  /*/

a.download:after,
.view-walk-of-the-month-link.view-display-id-entity_view_2 a.download:after,
a.external-link:after,
.block-footer-sitemap .menu-1602 a:after,
.block-footer-sitemap .menu-1023 a:after,
.menu-mlid-1602 a:after,
.menu-mlid-1023 a:after,
.node-3434 a:after,
.view-electric-bike-map .views-field-field-optional-link a:after,
.node-green-guide .field-name-field-optional-link a:after,
.node-producer .field-name-field-optional-link a:after,
.node-towns-and-villages .field-name-field-optional-link a:after,
.node-point-of-interest .field-name-field-optional-link a:after,
.external-link h2 a:after {
	font-size: 1em;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f08e";
	margin-left: 0.25em
}

a.download:after,
.view-walk-of-the-month-link.view-display-id-entity_view_2 a.download:after {
	content: "\f019";
}

.views-field-field-walk-of-the-moth span,
.views-field-field-download span {
	white-space: nowrap
}
/*/  --- Footer contact info ---  /*/

#block-block-1 {
	float: right;
	text-align: right
}

#block-block-1 h4,
#block-block-1 p {
	line-height: 1.1;
	margin: 0;
}

#block-block-1 h4 {
	font-size: 1.5em;
	margin-bottom: 0.75em
}

#block-block-1 h4 strong {
	font-weight: normal;
	white-space: nowrap;
	padding: 0 0.25em
}

#block-block-1 p {
	font-size: 0.85em
}

#block-block-1 a:link,
#block-block-1 a:visited {
	color: #555
}

div#block-imageblock-4,
div#block-imageblock-5 {
	float: left;
	margin-bottom: 0.75em
}

div#block-imageblock-4 img,
div#block-imageblock-5 img {
	height: 85px;
	width: inherit
}

@media all and (max-width: 875px) {
	#block-block-1 {
		float: none;
		clear: both;
		text-align: center;
	}
	#block-imageblock-4 {
		width: 50%;
		text-align: right
	}
	#block-imageblock-5 {
		width: 50%;
		clear: right;
		text-align: left
	}
}

@media all and (max-width: 480px) {
	#block-block-1 h4 {
		font-size: 1.25em;
	}
	#block-imageblock-4 {
		width: 40%;
	}
	#block-imageblock-5 {
		width: 60%;
	}
}
/*/  --- Tables ---  /*/

table {
	line-height: 1.3;
	width: 100%;
	float: none
}

table caption {
	font-weight: bold;
	font-size: 1.1em;
	text-align: left;
	margin: 1em 0 0 0
}

table th,
table td {
	text-align: left;
	vertical-align: top;
	padding: 4px 6px;
	border-bottom: 1px solid #fff
}

table th {
	background: #e6e6e6
}

table td {
	background: #efefef
}
/*/  --- Weather table ---  /*/

.weather th {
	background: #E6E6E6;
	border-bottom: 2px solid #E6E6E6;
}

.weather td {
	background: #fff;
	font-size: 0.9em;
	vertical-align: middle;
	border-bottom: 2px solid #E6E6E6;
}

.weather th,
.weather td {
	padding: 3px 6px
}

.weather td .weather-image {
	float: left;
	margin-right: 6px;
	vertical-align: middle
}

.weather td .condition {
	float: left;
	vertical-align: middle;
}
/*/  --- Main map ---  /*/

.page-main-map .view-id-main_map {
	width: 67%;
	float: left
}

.page-main-map #block-block-3 {
	width: 33%;
	float: right;
	height: 600px;
}

.page-main-map #block-block-3 iframe {
	height: 600px;
}

@media all and (max-width: 600px) {
	.page-main-map .view-id-main_map,
	.page-main-map #block-block-3 {
		width: 100%;
		float: none;
	}
	.page-main-map #block-block-3,
	.page-main-map #block-block-3 iframe {
		height: 300px;
		width: 100%;
	}
}
/*/  --- Route Tables ---  /*/

table.views-table .views-field-field-download {
	width: 20%
}

table.views-table .views-field-field-download span {
	font-size: 88%;
	color: #999
}

table.views-table a.download:before {
	font-size: 24px;
	float: left;
	padding: 0 6px 0 0
}

table.views-table .views-field-title a {
	font-size: 80%;
	padding-left: 9px
}

.leaflet-popup-content * {
	margin: 0!important;
	padding: 0
}
.leaflet-top,
.leaflet-bottom,
.leaflet-control {
    z-index: auto;
}

.leaflet-popup-content p.pop-up-title a {
	font-weight: bold;
	margin: 0;
	font-size: 14px
}

.leaflet-popup-content,
.leaflet-popup-content-wrapper {
	overflow: visible
}
/*/  --- Towns & Villages page ---  /*/

.node-towns-and-villages .field-name-field-image {
	float: right;
	margin: 0 0 1em 1em
}

.field-type-taxonomy-term-reference {
	margin: 1em 0
}

.field-type-taxonomy-term-reference .field-item {
	display: inline-block;
	margin: 0 0.25em 0 0
}

.view-town-and-villages .views-row-last hr {
	display: none
}

.view-town-and-villages .view-content h3 {
	font-size: 1.75em;
	background: #dbdbdb;
	padding: 0.25em 0.5em
}
/*/  --- Views columns ---  /*/

.view .content-row,
.view .content-row li {
	margin: 0;
	padding: 0;
	list-style: none
}

.view .content-row {
	width: 101.5%;
	margin-left: -1.5%;
	clear: both;
}

.view .content-row .one-column,
.view .content-row .two-column {
	width: 23.5%;
	margin-left: 1.5%;
	float: left;
}

.view .content-row .two-column {
	width: 48.5%;
}

.view .content-row .one-column:nth-child(4n-7) {
	clear: left;
}

.view .content-row .two-column:nth-child(odd) {
	clear: left;
}

@media all and (max-width: 768px) {
	.view .content-row .one-column {
		width: 31.5%;
	}
	.view .content-row .one-column:nth-child(4n-7) {
		clear: none;
	}
	.view .content-row .one-column:nth-child(3n-5) {
		clear: left;
	}
	.view .content-row .two-column {
		width: 48.5%;
	}
}

@media all and (max-width: 480px) {
	.view .content-row .one-column {
		width: 98.5%;
		width: 48.5%;
	}
	.view .content-row .one-column:nth-child(3n-5) {
		clear: none;
	}
	.view .content-row .one-column:nth-child(odd) {
		clear: left;
	}
	.view .content-row .two-column {
		width: 98.5%;
	}
}
/*/  --- Wildlife Calendar ---  /*/

.view-wildlife-calebdar h2 {
	color: #fff;
	margin: 0.5em 0;
	padding: 0.25em 0.5em;
	background: #839c85;
}

.view-wildlife-calebdar h2 a:link,
.view-wildlife-calebdar h2 a:visited {
	color: #fff
}
/*/ .view-wildlife-calebdar    .field-name-field-image img  ,/*/

.node-wildlife-calendar-item .field-name-field-image img {
	float: right;
	margin: 0.5em 0 1em 1em;
	max-width: 48.5%
}

@media all and (max-width: 480px) {
	.node-wildlife-calendar-item .field-name-field-image img {
		float: none;
		margin: 15px auto;
		clear: both;
		display: block;
		max-width: 100%;
	}
}

.view-wildlife-calebdar hr {
	display: none
}

.view-walk-of-the-month-link.view-display-id-entity_view_2 {
	background: #f7f7f7;
	padding: 0.25em 1% 1em 1%;
	margin: 1em 0;
	width: 46.5%
}

@media all and (max-width: 768px) {
	.view-walk-of-the-month-link.view-display-id-entity_view_2 {
		width: 99%;
		clear: both
	}
}

.view-walk-of-the-month-link.view-display-id-entity_view_2 h3 {
	margin: 0 0 0.25em 0
}
/*/  --- Flippy pagers ---  /*/

.flippy,
.flippy li {
	padding: 0!important;
	margin: 0
}

.flippy {
	clear: both;
	margin-top: 1em
}

li.prev,
li.next {
	padding: 0
}

.flippy li a:link,
.flippy li a:visited {
	color: #999;
	font-size: 1.2em;
	background: #f5f5f5;
	padding: 0.25em 0.5em
}

.flippy li a:hover {
	color: #333;
	background: #e0e0e0;
	text-decoration: none
}

li.prev {
	float: left
}

li.next {
	float: right
}

.flippy li.prev a:before,
.flippy li.next a:after {
	color: #999;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2em;
	color: inherit;
	text-align: center;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flippy li.prev a:before {
	content: "\f060";
	padding-right: 0.5em
}

.flippy li.next a:after {
	content: "\f061";
	padding-left: 0.5em
}

.flippy li.empty {
	display: none
}
/*/  --- Read more teaser links ---  /*/

.node-readmore {
	float: left;
	clear: left;
	margin: 1em 0
}

.node-readmore a:link,
.node-readmore a:visited {
	color: #999;
	font-size: 0.85em;
	background: #f5f5f5;
	padding: 0.15em 0.3em
}

.node-readmore a:hover {
	color: #333;
	background: #e0e0e0;
	text-decoration: none
}

.node-readmore a:after {
	color: #999;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	color: inherit;
	text-align: center;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f061";
	padding-left: 0.25em
}
/*/  --- News Articles ---  /*/

.node-news-article .field-name-field-date {
	margin: 1em 0
}
/*/  --- Photo Gallery ---  /*/

.view-visitor-photos {}

.view-visitor-photos .content-row .one-column {
	text-align: center;
	vertical-align: middle;
	height: 100%
}

.view-visitor-photos .content-row .one-column span {}

.view-visitor-photos .content-row .one-column img {
	display: inline-block;
	vertical-align: middle;
	margin: 0.25em;
}
/*/.view-visitor-photos  {display: table;}

.view-visitor-photos .content-row .one-column   {display: table;}

.view-visitor-photos .content-row .one-column span {display: table-cell;}
/*/

.upload-your-photos {
	text-align: right
}

.upload-your-photos a:link,
.upload-your-photos a:visited {
	color: #999
}

.upload-your-photos a:hover {
	color: #666;
	text-decoration: underline
}

.upload-your-photos:before {
	display: inline-block;
	font-family: FontAwesome;
	color: #999;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f030";
	padding-right: 4px
}

#block-formblock-photo,
#block-formblock-leaflet,
#block-formblock-file {
	background: #efefef;
	padding: 0.25em 1em 1em 1em
}

.field-widget-image-image.form-wrapper,
.field-widget-file-generic.form-wrapper,
.form-item-mollom-captcha {
	width: 46%;
	background: #e0e0e0;
	padding: 2%;
	margin-bottom: 1em
}

.field-widget-image-image.form-wrapper,
.field-widget-file-generic.form-wrapper {
	padding: 1px 2%
}

#cboxTitle {
	line-height: 1.1
}

/*/  --- Recipe page ---  /*/

#block-views-recipes-block-1  {background-color: #efefef;padding:1em  1em 0.5em 1em }

#block-views-recipes-block-1 h2.block-title {color:inherit;padding:0;background:transparent;margin: 0 0 0.5em 0}

#block-views-recipes-block-1  .item-list em {color:#999;font-size:90%;font-style:normal}

/*/  --- Producers page ---  /*/

table.views-view-grid {
	width: 100%
}

table.views-view-grid td {
	text-align: center;
	vertical-align: middle;
	width: 25%;
}
/*/  --- Producers page ---  /*/

.node-producer.view-mode-full .field {
	float: left;
	clear: left;
	width: 45%;
	margin: 0 0 0.5em 0
}

.node-producer.view-mode-full .field.field-name-field-location {
	float: right;
	clear: right;
	width: 45%;
	margin: 0 0 1em 0;
	border: 1px solid #ccc
}

p.results {
	color: #999
}

.view-id-producers_maps .view-content,
.view-art-and-craft-map .view-content {
	clear: both
}

.view-id-producers_maps .field .field-label,
.view-art-and-craft-map .field .field-label {
	font-weight: normal;
}

.node-producer .field-type-taxonomy-term-reference {
	margin: 0
}

.node-producer .country {
	display: none
}

.views-row.producers:focus {
	background: #ff9
}

.node-producer .field-type-taxonomy-term-reference {}

.views-row.producers {
	float: left;
	padding: 1.5%;
	border-top: 1px solid #999
}

.views-row.producers:first-child {
	clear: left;
	padding-left: 0
}

.lt-ie9 .views-row.producers {
	width: 47%;
}

.lt-ie9 .views-row.producers.views-row-odd {
	clear: left;
	padding-left: 0;
}

a.fa.fa-repeat:before {
	font-size: 1.1em;
	color: #666;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	content: "\f01e";
}

table {
	clear: both;
	border: none;
	width: 100%
}

.field-name-field-producers-categories {
	font-size: 90%;
	padding: 0 0 1em 0
}
/*/  --- Electric bike network ---  /*/

.view-electric-bike-map h3 {
	background: #dbdbdb;
	padding: 0.25em 0.5em
}
/*/  --- Green business guide ---  /*/

.node-green-guide .field {
	margin: 0.5em 0
}

.node-green-guide .field-label-above {
	margin-top: 0.75em
}

.node-green-guide .field-name-field-image,
.node-green-guide .field-name-field-multi-images {
	clear: left
}

.node-green-guide .field-name-field-image img,
.node-green-guide .field-name-field-multi-images img {
	float: left;
	margin-right: 1em
}

.node-green-guide .field-name-field-multi-images {
	margin-bottom: 1em;
	overflow: auto
}

.node-green-guide .field-name-field-electric-bike-point-type {
	margin-bottom: 0
}

.node-green-guide .field-name-field-electric-bike-info- {
	margin-top: 0
}

.node-green-guide ul.flippy {
	clear: both;
	padding-top: 1em
}
/*/  --- Hydro projects map ---  /*/

.view-hydro-projects-map h4 {
	font-size: 1.1em;
	margin: 0
}

.view-hydro-projects-map h4 strong {
	border-radius: 50%;
	behavior: url(PIE.htc);
	/* remove if you don't care about IE8 */
	
	min-width: 1em;
	height: 1em;
	padding: 0.25em;
	background: #fff;
	border: 2px solid #666;
	color: #666;
	text-align: center;
}

.view-hydro-projects-map p {
	margin: 3px 0
}
/*/  --- Farm profiles map ---  /*/

.view-farm-profiles hr {
	display: none
}
/*/  --- E-news page ---  /*/

#block-simplenews-0 {
	background: #efefef
}

#block-simplenews-0 p {
	padding: 0.5em 0 0 0.5em
}

#edit-newsletters.form-checkboxes {
	padding: 0 0 0.5em 0
}

#simplenews-subscriptions-multi-block-form {
	padding: 0 0.5em 0.5em 0.5em
}
/*/  --- E-news letters ---  /*/




.field-collection-view {
	padding: 0;
	margin: 0;
	border-bottom: none
}

.field-collection-container {
	border-bottom: none;
	margin-bottom: 0;
}

.node-simplenews .field-type-field-collection {
	margin-bottom: 1em;
	clear: both
}

.node-simplenews .field-type-field-collection .field-label,
.node-simplenews .view-id-mail_links_2 h2 {
	font-weight: normal;
	color: #fff;
	background: #7b7b7b;
	font-size: 1.5em;
	padding: 0.25em 0.5em;
	margin: 0em 0 1em 0
}

.view-id-mail_links_2 h2 {
	margin-bottom: 0px
}

.node-simplenews .field-name-field-enjoyment .field-label,
.node-simplenews .view-display-id-entity_view_2 h2 {
	background: #f58345
}

.node-simplenews .field-name-field-community .field-label,
.node-simplenews .view-display-id-entity_view_4 h2 {
	background: #aa1054
}

.node-simplenews .field-name-field-business .field-label,
.node-simplenews .view-display-id-entity_view_1 h2 {
	background: #367db2
}

.node-simplenews .field-name-field-wildlife .field-label,
.node-simplenews .view-display-id-entity_view_3 h2 {
	background: #839c85
}

.node-simplenews .field-name-field-section-heading h3 {
	margin: 0 0 0.5em 0
}

.node-simplenews .field-name-field-image {
	float: right;
	margin: 0 0 1em 1em
}

.node-simplenews .field-collection-view-final hr {

}

.mail-footer {
	clear: both;
	margin: 0.5em 0;
	padding: 8px 12px;
	background-color: #f58345;
}

.mail-footer h5,
.mail-footer p {
	font-size: 0.8em;
	line-height: 1.2;
	color: #fff;
	margin: 0
}

.mail-footer h5 {
	font-weight: bold
}

.mail-footer a {
	color: #fff
}

.view-id-mail_links_2 {
	float: left;
	width: 23.5%;
	margin: 0 1.5% 1em 0
}

.view-display-id-entity_view_3 {
	margin-right: 0
}

.view-id-mail_links_2 .view-header p {
	margin: 0
}

.view-id-mail_links_2 .view-header img {
	width: 100%;
	height: inherit
}

.view-id-mail_links_2 ul {
	padding-left: 15px;
}

.view-id-mail_links_2 li {
	line-height: 1.1
}


/*/  --- E-news letters ---  /*/

.e-news td {
	background:#fff;
	width:100%;max-width:600px;
	padding:0
}

.e-news .teasers td {width:23.5%}

.e-news .teasers td.spacer {width:2%} 



/*/  --- Action plan ---  /*/

.view-id-taxonomy_term.view-display-id-attachment_2  table  ,
.view-action-plan table {
	font-size: 0.85em
}

.view-id-taxonomy_term.view-display-id-attachment_2 table .even td ,
.view-action-plan table .even td {
	background-color: #f4f4f4;
}

.view-id-taxonomy_term.view-display-id-attachment_2 table .odd td ,
.view-action-plan table .odd td   {
	background-color: #eaeaea;
}

.view-id-taxonomy_term.view-display-id-attachment_2 .field-collection-item-field-targets-and-timescales ,
.view-action-plan .field-collection-item-field-targets-and-timescales   {
	border-top: 1px solid #fff;
	padding-top: 0.25em;
	margin-bottom: 0.25em
}

.view-id-taxonomy_term.view-display-id-attachment_2 .field-collection-item-field-targets-and-timescales:first-child ,
.view-action-plan .field-collection-item-field-targets-and-timescales:first-child  {
	border-top: none
}

.field-name-field-targets2 {
	float: left;
	width: 75%;
}

.field-name-field-timescale2 {
	float: right;
	text-align: right;
	width: 25%;
}

.views-field-field-partners ul {padding-left:5%}

.views-field-field-action-id               {width:5%;}

.views-field-field-action                  {width:30%;}

.views-field-field-targets-and-timescales ,
.views-field-field-targets-and-timescales-1 {width:30%;padding-right:3%;}

.views-field-field-partners                 {width:20%;}

.views-field-view-node                      {width:5%;}

/*/  --- Action nodes ---  /*/

.field-name-field-action h3 {
	font-size: 1.5em
}

.node-action .field {
	margin: 0 0 1em 0
}

.node-type-action h1.page__title {
	display: none
}

.node-action .field-label {
	font-size: 1em;
	padding-right: 0.5em
}

.node-action .field-name-field-targets-and-timescales {
	width: 50%;
	border-bottom: 2px solid #ccc
}

.node-action .field-name-field-timescale2 {
	padding-top: 0.5em;
	margin-top: 0.25em;
	border-top: 2px solid #ccc
}

.node-action .field-name-field-targets2 {
	float: left;
	width: 70%;
	padding-top: 0.5em;
	margin-top: 0.25em;
	border-top: 2px solid #ccc
}

.node-action .field-name-field-timescale2 {
	float: right;
	text-align: right;
	width: 30%;
	padding-top: 0.5em;
	border-top: 2px solid #ccc
}
.view-id-taxonomy_term   h2.title ,
.view-activities-on-actions h2.title {
	font-size: 1.25em;
	color: #fff;
	padding: 0.25em 0.5em;
	background-color: #aa1054
}
.view-id-taxonomy_term   .views-field-field-multi-images ,
.view-activities-on-actions .views-field-field-multi-images {
	float: right;
	margin: 0 0 1em 1em
}



.view-activities-on-actions  .views-field-name  {margin: 1em 0 0 0 }

h4.add-activity {
	font-size: 1.25em;
	color: #fff;
	padding: 0.25em 0.5em;
	background-color: #aa1054;
	float: right;
	clear: both
}

h4.add-activity a {
	color: #fff;
}
/*/  --- Activity nodes ---  /*/

.node-activity .field {
	margin: 0.5em 0
}

.node-activity .field-label {
	font-size: 1em
}

.field-name-field-action-ref .field-label {
	padding-right: 0.5em
}


/*/  --- Partner nodes ---  /*/


.node-partner .field {
	margin: 0 0 1em 0
}

.field-label-inline .field-label {padding-right:0.5em}

.node-partner  .field-name-field-image  {float:right;margin: 0 0 1em 2em}


/*/  --- Partner nodes on user profiles ---  /*/


.view-id-partner_node_on_partner_profiles  .views-field-edit-node {text-align: right} 

.view-id-partner_node_on_partner_profiles  .views-field-edit-node  a {
	color:#fff;
	background-color: #aa1054;
	padding:0.25em 0.5em;
	font-size:1em;
	float:none;
	clear:both;
	margin: 1em 0
} 



h4.add-partner {
font-size: 1.25em;
color: #fff;
padding: 0.25em 0.5em;
background-color: #aa1054;
float: left;
clear: both;
}
h4.add-partner a {color: #fff;}


/*/  --- Activities and Actions on Partner nodes ---  /*/


.view-activities-on-actions.view-display-id-entity_view_1  {background: #fafafa;} 

.view-activities-on-actions.view-display-id-entity_view_1  .view-content  {padding:0 1em 0.5em 1em;} 

.view-activities-on-actions.view-display-id-entity_view_1  .views-row hr {margin:0.5em 0}

.view-activities-on-actions.view-display-id-entity_view_1  .views-row-last hr {border-color:#fafafa;margin:0;color:#fafafa;background:#fafafa}


/*/  --- Actions on Objectives pages ---  /*/


#block-views-action-plan-block-1 {background: #fafafa;}
#block-views-action-plan-block-1  h2.block-title   {background:#AA1054 }
#block-views-action-plan-block-1 .view-content  {padding:0 1em 0.5em 1em;}
#block-views-action-plan-block-1 .views-field-field-action {width:100%;}
#block-views-action-plan-block-1 .view-content h3 {font-weight:bold;font-size: 1.15em;}


#block-views-action-plan-block-1 .view-content .node-readmore {
	clear: right;
	float: none;
	display: inline-block;
	font-style: normal;
	margin:0;
}

#block-views-action-plan-block-2 {background: #fafafa;}
#block-views-action-plan-block-2  h2.block-title   {background:#AA1054 }
#block-views-action-plan-block-2 .view-content  {padding:0 1em 0.5em 1em;}
#block-views-action-plan-block-2 .views-field-field-action {width:100%;}
#block-views-action-plan-block-2 .view-content h3 {font-weight:bold;font-size: 1.15em;}
#block-views-action-plan-block-2 .view-content .node-readmore {
	clear: right;
	float: none;
	display: inline-block;
	font-style: normal;
	margin:0;
}

#block-views-action-plan-block-3 {background: #fafafa;}
#block-views-action-plan-block-3  h2.block-title   {background:#AA1054 }
#block-views-action-plan-block-3 .view-content  {padding:0 1em 0.5em 1em;}
#block-views-action-plan-block-3 .views-field-field-action {width:100%;}
#block-views-action-plan-block-3 .view-content h3 {font-weight: 900;font-size: 1.15em;}

#block-views-action-plan-block-3 .view-content .node-readmore {
	clear: right;
	float: none;
	display: inline-block;
	font-style: normal;
	margin:0;
}

#block-views-action-plan-block-4 {background: #fafafa;}
#block-views-action-plan-block-4  h2.block-title   {background:#AA1054 }
#block-views-action-plan-block-4 .view-content  {padding:0 1em 0.5em 1em;}
#block-views-action-plan-block-4 .views-field-field-action {width:100%;}
#block-views-action-plan-block-4 .view-content h3 {font-weight: 900;font-size: 1.15em;}

#block-views-action-plan-block-4 .view-content .node-readmore {
	clear: right;
	float: none;
	display: inline-block;
	font-style: normal;
	margin:0;
}









/* === FORM ITEMS === */
/*/ Webkit search box re-set  /*/

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	display: none;
}

input[type=search] {
	/* the webkit overrides need to stay at the top */
	
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	/* your styles here */
}

input.form-text,
textarea.form-textarea {
	font-size: 1em;
	padding: 12px 6px;
	border: 2px solid #999;
	background: #f7f7f7;
}

input.form-text:focus,
textarea.form-textarea:focus {
	border-color: #666;
	background: #FFC
}

input.form-submit,
a.button:link,
a.button:visited {
	font-size: 1.5em;
	padding: 0.5em 0.75em;
	color: #FFF;
	text-align: center;
	border: none;
	margin: 0;
	background-color: #aa1054;
	margin-right: 1em;
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-transform: uppercase
}

input.form-submit:hover,
.button:hover,
input.form-submit:focus,
.button:focus {
	background-color: #6a0934;
	cursor: pointer
}

input.form-submit:active,
.button:active {
	background-color: #6a0934;
}
/*/ --- smaller buttons --- /*/

#edit-field-image-und-0-ajax-wrapper input.form-submit,
input.ajax-processed,
.views-exposed-widget input.form-submit,
#simplenews-subscriptions-multi-block-form input.form-submit {
	font-size: 1em;
	text-transform: none;
	padding: 0.25em 0.5em;
}

fieldset {
	margin-bottom: 1em
}
/*/ --- RESPONSIVE OVERIDERS --- /*/

@media all and (min-width: 768px) {
	.views-row.producers {
		width: 30%;
	}
	.views-row.producers:nth-child(3n+4) {
		clear: left;
		padding-left: 0
	}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	.views-row.producers {
		width: 47%;
	}
	.views-row.producers:nth-child(2n+3) {
		clear: left;
		padding-left: 0
	}
}

@media all and (max-width: 768px) {
	#header {
		/*/padding-top: 4em;/*/
	}
	.field-widget-image-image.form-wrapper,
	.field-widget-file-generic.form-wrapper,
	.form-item-mollom-captcha {
		width: 96%;
	}
	.view-id-mail_links_2 {
		width: 48.5%;
		margin-right: 1.5%
	}
	.view-display-id-entity_view_3,
	view-display-id-entity_view_4 {
		margin-right: 0
	}
	.view-display-id-entity_view_1 {
		clear: left
	}
}

@media all and (max-width: 480px) {
	.views-row.producers {
		width: 100%!important;
		clear: both;
		float: none;
		padding-left: 0;
		padding-right: 0
	}
	.node-producer.view-mode-full .field-name-field-location,
	.node-producer.view-mode-full .field {
		float: none;
		clear: both;
		width: 100%;
		margin: 0 0 0.5em 0
	}
}

@media all and (max-width: 360px) {
	.view-id-mail_links_2 {
		width: 100%;
		margin-right: 0
	}
}